@-moz-document domain("www.kernel.org") {
  body {
    font-family: "DejaVu Sans Mono";
  }

  .wy-nav-side {
    background-color: #000000;
    color: #005f5f;
  }

  .wy-nav-content {
    background-color: #000000;
    color: #005f5f;
  }

  li.current:nth-child(2) > ul:nth-child(2) {
    background-color: #000000;
    color: #005f5f;
  }
}
