@-moz-document domain("readmanganato.com"), domain("chapmanganato.com") {
  img {
    filter: sepia(1) brightness(0.5) contrast(1) saturate(0.6);
  }

  img:hover {
    filter: none;
  }

  .container-chapter-reader {
    background-color: #000000;
  }
}
